/* Reset padding, margin and */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container,
.footer {
  background-color: #1F2937;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;
    padding: 16px 208px 112px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 16px;
}

.logo {
  display: flex;
  align-items: baseline;
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  gap: 16px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #E5E7EB;
}

.hero-section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.left p {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 12px;
}

.button {
  padding: 8px 32px;
  border-radius: 8px;
  border: 2px solid #3882F6;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 700;
}

.right {
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #F9FAF8;
  text-align: center;
  width: 900px;
  padding: 28px 0 0;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 288px 112px;
}

h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.info-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1F2937;
  font-weight: 300;
  gap: 8px;
}

.image {
  height: 128px;
  width: 128px;
  border: 2px solid #3882F6;
  border-radius: 12px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  color: #1F2937;
  padding: 112px 288px 64px;
  gap: 16px;
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-author {
  align-self: flex-end;
  font-weight: 700;
}

.sign-up-section {
  padding: 80px 208px;
}

.call-to-action-container {
  background-color: #3882F6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  padding: 48px;
  gap: 16px;
}

.call-to-action {
  color: #F9FAF8;
}

.call-to-action p {
  font-size: 14px;
  color: #E5E7EB;
}

.sign-up-button {
  border: 2px solid #F9FAF8;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  color: #E5E7EB;
}